.form_div{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    width: 100%; /* Make the container fill its parent */
    height: 100%; /* Make the container fill its parent */
}
.inputContainer {
    width: 100%;
    display: flex;
    
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    width: 100%; /* Make the container fill its parent */
    height: 100%; /* Make the container fill its parent */

  
}

.inputContainer button {
    background-color: rgba(3, 196, 255, 0.459);
    display: inline-block;
    padding: 3% 3%; /* Adjust padding based on parent div's size */
    border: none;
    border-radius: 5px;
    font-size: 1.5vw; /* Adjust font size based on viewport width */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem;
    
}
